body {
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
}
.imgHeader {
  background-image: url("images/the-flatiron-building.png");
  color: white;
}
/* Unvistited link */
a:link {
  color: white
}
/* Visted link */
a:visited {
  color: white;
}
h1 {
  font-size: 70px;
  font-weight: bold;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}
